body {
    font-family: sans-serif;
} 

h1 {
    font-size: 100px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-box {
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 200px;
    height: 50px;
}