{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="my-3">Create Listing</h2>

    <div class="col-lg-5">
        <form action="{% url 'add' %}" method="post" class="form">
            {% csrf_token %}
            <div class="">
                <div class="my-3">
                    {{ form.title }}
                </div>

                <div class="my-3">
                    {{ form.description }}
                </div>

                <div class="my-3">
                    {{ form.starting_bid }}
                </div>

                <div class="my-3">
                    {{ form.image_url }}
                </div>

                <div class="my-3">
                    {{ form.category}}
                </div>

                <input type="submit" class="form-input btn btn-primary">
            </div>
        </form>
    </div>

{% endblock %}
