{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mx-auto mt-3">Active Listings</h2>
    <hr>

    {% for listing in listings %}
        <div class="listing-row row">
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    {% if listing.image_url %}
                        <img class="listing-img mx-auto" src="{{listing.image_url}}" alt="Image for listing: {{listing.title}}">
                    {% else %}
                        <h2 class="mx-auto">No image found</h2>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <a href="{% url 'listing' listing.id %}">
                    <h5 class="">{{listing.title}}</h5>
                </a>
                <div>
                    <p class="">{{listing.description}}</p>
                </div>
                <div>
                    <p><Strong>Category: </Strong>{{listing.category}}</p>
                </div>
                <div>
                    <p><Strong>Current price: </Strong>£{{listing.starting_bid}}</p>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    
{% endblock %}